@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;700&display=swap');

@font-face {
  font-family: 'NASA';
  src: url('./fonts/nasa.woff') format('woff');
}

$column-margin-right: 20px;
$bottom-bar-bg-color: #171717;
$primary-color: #b92eff;

// .globe {
//   // width: 100%;
//   // height: 50%;
// }
// .canvas-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   pointer-events: none; 
// }
canvas {
  position: absolute;
}

.mapper {
  position: relative;
  overflow: hidden;
  width: 400px;
  margin-top: 20px;
  height: 300px;
  z-index: 10000;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  .map {
    height: 108%;
  }
}
.gm-style-mtc {
  .button {
    display: none !important;
    color: #b92eff !important;
    z-index: 1 !important;
  }
}
body,
html {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  color: #fff;
}

.nasa {
  font-family: 'NASA', sans-serif;
  text-transform: capitalize;
}

.live-map {
  border-radius: 5px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NASA', sans-serif;
  text-transform: capitalize;
  color: $primary-color;
  font-weight: 300;
}

p {
  color: #e6e6e6;
}

a {
  color: #6a75ff;
  text-decoration: none;
}

.active {
  color: $primary-color !important;
}

a:hover {
  text-decoration: underline;
}

input,
label {
  color: #fff;
}
.back-to-top-button {
  font-size: 2rem;
  border: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 1000;

  // border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  animation: bounce 0.5s 6 alternate;
}
.back-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

button {
  position: relative;
  padding: 3px 20px;
  color: #fff;
  font-weight: 300;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  border-radius: 50px;
  border: 1px solid $primary-color;
  cursor: pointer;
  background-color: #111;
  overflow: hidden;
  transition: background-color 0.5s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -15px;
    padding: 5px 22px;
    z-index: -1;
    background-image: linear-gradient(
      159deg,
      rgba(185, 46, 255, 1) 0%,
      rgba(0, 99, 255, 1) 100%
    );
    border-image-slice: 1;
    border-radius: 50px;
    opacity: 1;
    transform: scaleX(0);
    transition: opacity 0s, transform 0.6s;
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: scaleX(1);
    }

    animation: backgroundColorChange 0.5s ease-in-out;
    background-color: transparent;
    border: none;
    padding: 4px 21px;
    transition: ease-in-out;
  }
}

@keyframes backgroundColorChange {
  from {
    background-color: #111;
  }

  to {
    background-color: transparent;
  }
}

.app {
  width: 100%;
}

#map-container {
  height: 70vh;
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 2rem;
}

/* NAVIGATION */

.packages {
  // border: 1px solid #fff;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 15px rgba(242, 0, 255, 0.999);
  h2 {
    margin: 10px 0 0 0;
  }
}
.package-btn {
  background-image: linear-gradient(
    159deg,
    rgba(185, 46, 255, 1) 0%,
    rgba(0, 99, 255, 1) 100%
  );
  border: none;
  transition: all 0.2s ease-in-out;
  padding: 3px 20px;
  margin-bottom: 10px;
  border: 1px solid #000;
}
.package-btn:hover {
  border: 1px solid #fff;
  background-image: none;
  padding: 3px 20px !important;
  background-color: #000 !important;
}
.tour-menu {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  background-color: #000;
  font-family: 'NASA', sans-serif;
  text-transform: uppercase;
  text-transform: uppercase;
  z-index: 10;
  height: 100px;
  //  border: 1px solid $primary-color;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 5px;
  padding: 8px 10px;
  list-style: none;
  .tour-pack.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #282828;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    font-weight: 300;
    font-family: 'NASA', sans-serif;

    text-transform: uppercase;
  }
  .tour-pack {
    box-shadow: 0px 0px 55px $primary-color;
    border-radius: 5px;
    padding: 5px 20px;
    a {
      text-decoration: none !important;
    }
  }

  .navbar-dropdown:hover .dropdown-menu {
    display: block;
    width: fit-content;
    // margin-top: -5px;

    a:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
  .tour-list {
    // border: 1px solid $primary-color !important;
    border-radius: 5px;
    font-size: 1.2em !important;
    box-shadow: 0px 0px 10px rgb(185, 46, 255);
    // display: none;
    position: absolute;
    background-color: #282828;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    font-weight: 300;
    font-family: 'NASA', sans-serif;
    text-transform: uppercase;
    list-style: none;

    .tour-list:hover .dropdown-menu {
      display: block;
      width: fit-content;
      // margin-top: -5px;

      a:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
  .tour-pack:hover {
    text-decoration: none;
  }
  .tour-list {
    margin: 0px;
    padding: 0 20px;
    display: none;
    position: absolute;
    background-color: #282828;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    font-weight: 300;
    font-family: 'NASA', sans-serif;
    text-transform: uppercase;

    li {
      width: 200px;
      a {
        font-size: 0.7em !important;

        // padding: 0 20px;
      }
    }
  }
  a {
    color: #fff;
    font-size: 0.8em;
    width: calc(fit-content + 120px);
  }
}

.navbar {
  display: none;
}

#box {
  margin: 2rem;
  border: 1px solid black;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  z-index: 100;

  a {
    .icon {
      font-size: 28px;
      margin-bottom: 3px;
    }

    span {
      font-size: 14px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}
.bottom-bar {
  background-color: $bottom-bar-bg-color;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  // font-size: 1.3em;
  color: $primary-color;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
  padding: 5px;
  text-align: center;
  p {
    margin: 0;
  }
}
.footer {
  background-image: linear-gradient(
    159deg,
    rgba(185, 46, 255, 1) 0%,
    rgba(0, 99, 255, 1) 100%
  );
  padding: 0 40px;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  .hide {
    display: block;
    flex-direction: column;
  }

  .column {
    text-align: center;

    .foot-btn {
      background-color: #000 !important;
      background-image: none !important;
      font-size: 1em;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .popupf {
      position: fixed;
      bottom: 10%;
      right: 10%;
      transform: translate(-50%, -50%);
      background-color: #111;
      padding: 10px 20px 20px 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      opacity: 0;
      animation: fade-in-out 2s;
      animation-fill-mode: forwards;
    }
    .popupf,
    h2,
    p {
      text-align: center;
      margin-top: 0;
      margin-bottom: 10px;
    }

    @keyframes fade-in-out {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 1;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    .fade-in-out {
      animation: fade-in-out 2s;
    }
    input {
      padding: 0.5rem;
      width: 95%;
      font-size: 0.8em;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      outline: none;
    }
    .news-p {
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
    }
    h3 {
      color: #fff;
      font-family: 'NASA', sans-serif;
      text-transform: uppercase;
      font-size: 1.5em;
    }
    .footer-menu {
      list-style: none;
      padding: inherit;

      li {
        padding: 5px 10px;
      }

      a {
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 1.2em;
      }
      .active {
        color: #fff !important;
        background-color: #00000071 !important;
      }
    }

    .hide {
      display: none;
    }
  }
}

/* LOGO */

.logo-container {
  position: relative;
  width: 100%;
  // height: 190px;
  z-index: 100 !important;
}

.logo {
  width: 100%;
  z-index: 100;
  height: 190px;
}

/* HOME */
.bg-image {
  display: none;
}

.intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 90%;
    height: auto;
    margin: 0;
    border-radius: 5px;
    border: 2px solid rgba(185, 46, 255, 1);
    border-image-slice: 1;
  }
}

.home-container {
  position: relative;
  background-color: #000;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20% 0;
  justify-content: space-between;
  height: 80vh;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.full-image-container {
  position: relative;
  height: calc(100vh - 256px);
  overflow: hidden;
}

.full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-content {
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 20px;
  padding: 10%;
  flex-direction: column;
  overflow: hidden;

  .data-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: fit-content;
    padding-bottom: 20px;
    // border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    z-index: 10;
    .data-image {
      width: 100%;
      min-height: 350px;
      // min-height: 100%;
      object-fit: cover;

      border-radius: 8px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .data-content {
      text-align: center;
      display: flex;
      padding: 0 10px;
      align-items: center;
      text-align: center;
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
      .data-title {
        margin: 5px 0px 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-family: 'NASA', sans-serif;
        text-transform: uppercase;
        font-size: 2.2em;
      }

      .data-description {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.intro-head {
  margin: 10px 0 0 0;
  font-size: 1.7em;
  font-weight: 40;
  font-family: 'NASA', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
}

.intro-content {
  text-align: center;
}

.mapbtn {
  padding-top: 10px;
  margin-bottom: 20px;
}

.last-item {
  padding-top: 10px;
  padding-bottom: 40px;
}

.intro-video {
  border-top: $primary-color 2px solid;

  video {
    width: 100%;
    height: auto;
  }
}

/* TERMS & PRIVACY */
.tcp {
  width: 80%;
  padding: 2% 10% 5% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tcp-head {
  font-family: 'NASA', sans-serif;
  text-transform: uppercase;
}
/* ACCOUNT */
.booking-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    margin-top: 10px;
  }
  textarea,
  input {
    border: none;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 100%;
  }
}
.edit-btn-book {
  padding: 10px;
  button {
    position: relative;
    padding: 3px 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.01em;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #11111142;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out;
    margin: 5px;
  }
}
.booking {
  background-image: linear-gradient(
    159deg,
    rgba(185, 46, 255, 1) 0%,
    rgba(0, 99, 255, 1) 100%
  );
  width: 100%;
  border-radius: 5px;
  padding: 0 20px;
  margin: 0 0 10px 0;
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    width: 100%;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    button {
      position: relative;
      padding: 3px 20px;
      color: #ffffff;
      font-weight: 300;
      font-family: 'Oswald', Arial, sans-serif;
      font-size: 18px;
      letter-spacing: 0.01em;
      border-radius: 50px;
      border: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      background-color: #11111142;
      overflow: hidden;
      transition: background-color 0.5s ease-in-out;
      margin: 0 5px;
    }
    div {
      padding: 0 0 0 20px;
    }
    strong {
      font-family: 'NASA', sans-serif;
      font-size: 1.2em;
    }
  }
}
.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  min-height: calc(100vh - 56px);
  color: #fff;
}

.account-heading {
  margin-bottom: 0;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name-email {
  margin-bottom: 20px;
}

.user-name,
.user-email {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  margin: 0;
  font-size: 1.2em;
}

.user-name p {
  text-align: center !important;
}
.gm-style .place-card-medium {
  display: none !important;
  width: 2px !important;
}

.gm-style .place-card,
.gm-style .default-card,
.gm-style .directions-card {
  display: none !important;
}
input {
  width: 200px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}
input,
textarea,
select {
  outline: 1px solid $primary-color;
}
input:focus,
textarea:focus,
select:focus {
  outline: 1px solid #fff;
}

.edit-buttons {
  display: flex;
  gap: 1rem;
}

.sign-out-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}

/* Desktop Styles */
@media (min-width: 728px) {
  .account-page {
    padding: 20px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .user-name {
    font-size: 24px;
  }

  .user-email {
    font-size: 16px;
  }

  .footer .column .hide {
    display: block;
  }
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 728px) {
  .account-page {
    padding: 15px;
  }

  .avatar {
    width: 90px;
    height: 90px;
  }

  .user-name,
  .user-email {
    font-size: 22px;
  }
}

/* ABOUT*/

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
}

.page-title {
  margin: 0;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.glass-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.about-intro-content {
  margin-top: 10px;
  text-align: center;
}

/* Tours page styles */

.tour-packages {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  margin: 0 5vw;
  background-color: rgba(0, 0, 0, 0.5);
  .tour-cont {
    font-size: 1.3em;
  }
}

.tours-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
}

.star-image {
  background-image: url('../media/stars-mobile.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-title {
  margin: 0;
  color: antiquewhite;
  text-align: center;
  padding: 10px;
}

.glass-box {
  border-radius: 10px;
  width: 90%;
  color: #fff;
  max-width: 600px;
}

#map-container {
  width: 40vh;
  height: 40vh;
  background-color: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 5px 30px rgba(253, 232, 174, 0.3),
    0 2px 10px rgba(253, 232, 174, 0.3) inset;
}

.outer-container {
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.outer-map {
  margin: 0.5rem;
}

.tours-info-box {
  border-radius: 5px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  background-image: linear-gradient(25deg, $primary-color, #0063ff);
  color: #fff;
}

@media (min-width: 768px) {
  #map-container {
    height: 50vh;
  }
}

/* CONTACT */

.oswald {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.con-link {
  color: #fff;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  color: #fff;
  object-position: center;
  object-fit: cover;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(25deg, $primary-color, #0063ff);
  padding: 0px 20px 20px 20px;
  margin: 20px -10px -10px -10px;
  border-radius: 5px;

  p,
  h2 {
    margin: 10px 0 0 0;
    color: #fff;
  }
}

.contact-container h1 {
  text-align: center;
}

.background-image {
  object-position: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  width: 95%;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 16px;
  }

  input,
  select,
  textarea {
    padding: 10px;

    margin-top: 5px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 95%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    border-color: 1px solid #0063ff !important;
  }

  select {
    width: 100%;
  }

  textarea {
    resize: vertical;
  }
}

.form-btn-wrap {
  display: flex;
  justify-content: center;
}

button[type='submit'] {
  border: none;
  font-size: 1.2em;
  background-image: linear-gradient(25deg, $primary-color, #0063ff);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-image: linear-gradient(25deg, $primary-color, #0063ff);
    color: #fff;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0;
  }
}

/* LOGIN */

// .login-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 20px 0;
//   height: 80vh;
//   border-radius: 8px;
//   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
// }
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 40vh 0;
  justify-content: space-between;
  height: 60vh;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.google-icon-container {
  width: 15%;
  height: 15vw;
  border-radius: 50%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px #ffffff7c;
  position: relative;
  background-image: linear-gradient(25deg, $primary-color, #0063ff);
  overflow: hidden;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: transform 1s;
}

.google-icon {
  position: relative;
  z-index: 2;
  transition: transform 1s;
  position: relative;
  font-size: 10vw;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: url(#gradient);
  }
}

.slide-left {
  transform: translateX(calc(-50vw + 105%));
}

.slide-right {
  transform: translateX(100%);
}

@keyframes slideRight {
  to {
    transform: translateX(100%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.login-text {
  color: #fff;
  font-size: 7.5vw;
  font-family: 'NASA', sans-serif;
  text-transform: uppercase;
  position: absolute;
  margin: 40px 0;
  left: 27%;
  top: 50%;
  transition: all 1.5s ease-in-out;
}

.fade-in {
  transition: opacity 5s ease;
  opacity: 1;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* WIREFRAME */
/* MOBILEWF */

.wf-display {
  margin-bottom: 100px;
}

.wf-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  font-weight: 200;
}

body {
  margin: 0;
}

.wireframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  width: 100%;
}

.logo-placeholder {
  height: 60px;
}

.hero-wireframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: #f9f9f9;
}

.hero-image-placeholder,
.hero-text-placeholder {
  width: 90%;
  max-width: 600px;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-item {
  width: 40px;
  height: 40px;
  background-color: #444;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wireframe-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.main-content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  width: 368px;
}

.hero-wireframe {
  text-align: center;
  padding-bottom: 20px;
  background-color: #f9f9f9;
}

.hero-image-placeholder,
.hero-text-placeholder {
  width: 100%;
  max-width: 600px;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.content-item {
  flex: 0 1 calc(33.33% - 20px);
  text-align: center;
}

.content-image-placeholder,
.content-text-placeholder {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.navigation {
  display: flex;
  position: relative;
  width: 110%;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  margin: 20px -20px -20px -20px;
}

.nav-item {
  width: 40px;
  height: 40px;
  background-color: #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wf-head {
  color: #444;
  background-color: rgba(0, 0, 0, 0);
}

.hero-image-placeholder,
.content-image-placeholder {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.hero-image-placeholder::before,
.content-image-placeholder::before,
.hero-image-placeholder::after,
.content-image-placeholder::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #888;
}

.hero-image-placeholder::before,
.content-image-placeholder::before {
  transform: translateX(-50%) rotate(45deg);
}

.hero-image-placeholder::after,
.content-image-placeholder::after {
  transform: translateX(-50%) rotate(-45deg);
}

.bottom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
}

.wf-txt {
  background-color: #f1f1f162;
  width: 100%;
  color: #888;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid {
  height: 100px;
  display: flex;
  align-items: center;
}

.wf-btn {
  color: #bbbbbb;
  background-color: #fff;
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
}

/************ DELETE *************/
/* DESKTOPWF */

.wf-display {
  margin-bottom: 100px;
}

.wf-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  font-weight: 200;
}

body {
  margin: 0;
}

.wireframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  width: 100%;
}

.logo-placeholder {
  height: 60px;
}

.hero-wireframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: #f9f9f9;
}

.hero-image-placeholder,
.hero-text-placeholder {
  width: 90%;
  max-width: 600px;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-item {
  width: 40px;
  height: 40px;
  background-color: #444;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wf-head {
  color: #444;
  background-color: rgba(0, 0, 0, 0);
}

.hero-image-placeholder,
.content-image-placeholder {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.hero-image-placeholder::before,
.content-image-placeholder::before,
.hero-image-placeholder::after,
.content-image-placeholder::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #888;
}

.hero-image-placeholder::before,
.content-image-placeholder::before {
  transform: translateX(-50%) rotate(45deg);
}

.hero-image-placeholder::after,
.content-image-placeholder::after {
  transform: translateX(-50%) rotate(-45deg);
}

.wf-txt {
  background-color: #f1f1f162;
  width: 100%;
  color: #888;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid {
  height: 100px;
  display: flex;
  align-items: center;
}

.wf-btn {
  color: #bbbbbb;
  background-color: #fff;
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
}

/* Common styles for both desktop and tablet views */

.wireframe-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.main-content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;

  /* For mobile view */
  width: 368px;
}

.hero-wireframe {
  text-align: center;
  padding-bottom: 20px;
  background-color: #f9f9f9;
}

.hero-image-placeholder,
.content-image-placeholder {
  width: 100%;
  max-width: 600px;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.content-item {
  flex: 0 1 calc(33.33% - 20px);
  text-align: center;
}

.content-image-placeholder,
.content-text-placeholder {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.navigation {
  display: flex;
  position: relative;
  width: 110%;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  margin: 20px -20px -20px -20px;
}

.nav-item {
  width: 40px;
  height: 40px;
  background-color: #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wf-head {
  color: #444;
  background-color: rgba(0, 0, 0, 0);
}

.hero-image-placeholder,
.content-image-placeholder {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.hero-image-placeholder::before,
.content-image-placeholder::before,
.hero-image-placeholder::after,
.content-image-placeholder::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #888;
}

.hero-image-placeholder::before,
.content-image-placeholder::before {
  transform: translateX(-50%) rotate(45deg);
}

.hero-image-placeholder::after,
.content-image-placeholder::after {
  transform: translateX(-50%) rotate(-45deg);
}

.bottom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
}

// ************************************************************** MEDIA ****************************************************************
/* Tablet & Desktop version */

@media only screen and (min-width: 728px) {
  .user-info {
    width: 100vw;
    .nasa {
      font-size: 2em;
    }
  }
  .booking {
    width: 100%;
    background-image: linear-gradient(
      159deg,
      rgba(185, 46, 255, 1) 0%,
      rgba(0, 99, 255, 1) 100%
    );
    width: 80%;
    border-radius: 5px;
    padding: 0 20px;
    margin: 0 0 10px 0;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        padding: 0 0 0 20px;
      }
      strong {
        font-family: 'NASA', sans-serif;
        font-size: 1.2em;
      }
    }
  }
  .back-to-top-button {
    font-size: 2rem;
    border: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1000;

    // border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    animation: bounce 0.5s 6 alternate;
  }
  .back-to-top-button.visible {
    opacity: 1;
    visibility: visible;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  .login-container {
    display: flex;
    overflow: hidden !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px 0; */
    height: 90vh;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  .login-text {
    color: #fff;
    font-size: 7.5vw;
    font-family: 'NASA', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 27%;
    top: initial;
    transition: all 1.5s ease-in-out;
  }
  .logo-container {
    display: none;
     z-index: 10;
  }
  .navbar {
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #000;
    font-family: 'NASA', sans-serif;
    text-transform: uppercase;
    text-transform: uppercase;
    width: 100%;
    height: 100px;

    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      z-index: 10;

      li {
        // padding: 5px 10px;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 1.4em;
          border-radius: 5px;
          padding: 8px 10px;

          svg {
            height: 15px;
          }
        }
        a:hover {
          background-color: #b92eff74;
        }
      }
    }
    .navbar-logo {
      width: 200px;

      .logo-image {
        width: 200px;
      }
    }
  }

  .navbar-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #282828;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    font-weight: 300;
    font-family: 'NASA', sans-serif;
    text-transform: uppercase;
  }

  .navbar-dropdown:hover .dropdown-menu {
    display: block;
    width: fit-content;
    // margin-top: -5px;

    a:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
  .nov {
    button {
      border: none;
      background-image: linear-gradient(
        159deg,
        rgba(185, 46, 255, 1) 0%,
        rgba(0, 99, 255, 1) 100%
      ) !important;
      font-family: 'NASA', sans-serif;
      text-transform: uppercase;
      padding: 10px 21px;
      box-shadow: 0px 0px 0px 0px #fc5185;
      transition: box-shadow 0.6s linear;
      margin: 0.5em 0.5em 0.5em -0.5em;
    }
    button:hover {
      transition: ease-in-out 0.4s;
      box-shadow: 0px 0px 0px 2px #fff;
    }
  }
  .nov:hover {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .footer {
    background-image: linear-gradient(
      159deg,
      rgba(185, 46, 255, 1) 0%,
      rgba(0, 99, 255, 1) 100%
    );
    padding: 0 40px;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    .hide {
      display: block;
      flex-direction: column;
    }

    .column {
      text-align: center;

      .foot-btn {
        background-color: #000 !important;
        background-image: none !important;
        font-size: 1em;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }

      .popupf {
        position: fixed;
        bottom: 10%;
        right: 10%;
        transform: translate(-50%, -50%);
        background-color: #111;
        padding: 10px 20px 20px 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        opacity: 0;
        animation: fade-in-out 2s;
        animation-fill-mode: forwards;
      }
      .popupf,
      h2,
      p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
      }

      @keyframes fade-in-out {
        0% {
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      .fade-in-out {
        animation: fade-in-out 2s;
      }
      input {
        padding: 0.5rem;
        width: 95%;
        font-size: 0.8em;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        outline: none;
      }
      .news-p {
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
      }
      h3 {
        color: #fff;
        font-family: 'NASA', sans-serif;
        text-transform: uppercase;
        font-size: 1.5em;
        margin-bottom: 5px;
      }
      .footer-menu {
        list-style: none;
        padding: inherit;

        li {
          padding: 5px 10px;
        }

        a {
          color: #fff;
          padding: 5px 10px;
          border-radius: 5px;
          font-family: 'Oswald', sans-serif;
          font-weight: 300;
          font-size: 1.2em;
        }
        .active {
          color: #fff !important;
          background-color: #00000071 !important;
        }
      }
    }
  }

  .bottom-bar {
    margin-bottom: 0;
  }

  .home-content {
    background-image: url('../media/star-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    height: fit-content;
    padding: 5%;
  }
  .bg-image {
    position: absolute;
    display: flex;
    height: -webkit-fill-available;
    object-fit: cover;
    transform-origin: top;
    z-index: 2;
    width: 100%;
  }
  .data-bg {
    position: absolute;
    object-fit: cover;
    max-height: fit-content;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  }
  .bgol {
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10%;
    overflow: hidden;
    margin-top: -6rem;
  }

  .full-image-container {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  }
  .home-container {
    .data-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 350px;
      height: fit-content;
      padding-bottom: 20px;
      // border: 1px solid #ccc;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.8);
      // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      transition: all 0.2s ease-in-out;
      z-index: 10;
      .data-image {
        width: 100%;
        height: 250px;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .data-content {
        text-align: center;
        display: flex;
        padding: 0 10px;
        align-items: center;
        text-align: center;
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
        .data-title {
          margin: 5px 5px 0 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .data-description {
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: 0px;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
  .bottom-nav {
    display: none;
  }
  .intro-video {
    padding: 20px 0;
    width: 100%;
    background-image: linear-gradient(
      159deg,
      rgba(185, 46, 255, 1) 0%,
      rgba(0, 99, 255, 1) 100%
    ) !important;
    // margin-bottom: 35px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .form-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    min-width: fit-content;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .contact-form {
    width: 100%;
    min-width: 400px;
    padding: 0 0 0 10px;
    margin-right: 30px;
  }
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(25deg, $primary-color, #0063ff);
    padding: 0px 20px 20px 20px;
    margin: -10px;
    border-radius: 5px;
  }
}

/* Desktop version */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }
  .intro-video {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro-video video {
    width: 80% !important;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  .hero-image-placeholder {
    height: 300px;
  }

  .hero-text-placeholder {
    height: 100px;
    font-size: 1.5em;
  }

  .content-image-placeholder {
    height: 250px;
  }

  .content-text-placeholder {
    height: 150px;
    font-size: 1em;
  }

  .navigation {
    height: 80px;
    font-size: 1.2em;
  }

  .nav-item {
    width: 50px;
    height: 50px;
  }

  .bottom-navbar {
    height: 80px;
    font-size: 1.2em;
  }

  .wf-txt {
    height: 200px;
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 800px) {
  .navbar {
    li {
      padding: 5px 10px !important;
    }

    .navbar-logo {
      width: 200px;
      z-index: 10;
      .logo-image {
        width: 200px;
        z-index: 10;
      }
    }
  }
}
/* Tablet version */
@media only screen and (min-width: 728px) and (max-width: 1023px) {
  body {
    font-size: 14px;
  }

  .logo-container {
    height: 200px;
  }

  .hero-image-placeholder {
    height: 250px;
  }

  .hero-text-placeholder {
    height: 80px;
    font-size: 1.2em;
  }

  .content-image-placeholder {
    height: 180px;
  }

  .content-text-placeholder {
    height: 120px;
    font-size: 1em;
  }

  .navigation {
    height: 60px;
    font-size: 1em;
    margin-top: 0;
  }

  .nav-item {
    width: 40px;
    height: 40px;
  }

  .bottom-navbar {
    height: 60px;
    font-size: 1em;
  }

  .wf-txt {
    height: 150px;
    font-size: 1em;
  }
}

// Kens new styles

.btn-spacing {
  margin-bottom: 3rem;
}
.point {
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  margin: 2rem 1rem;

  padding: 0.5rem;
}

.img-shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: -2px;
  margin: -2px;
}

// *********************************** WIREFRAME **********************************

.wf-nav {
  display: none;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}


.circle {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  background-color: lightgray; 
}

.circle-container-big {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
}


.circle-big {
  width: 300px; 
  height: 300px;
  border-radius: 50%; 
  background-color: lightgray; 
}


.mobile-view {
  .wf-hide {
    display: none !important;
  }
  .wf-foot {
    flex-direction: column;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150%;
    margin-left: -20px;
    .wf-hide {
      display: none;
    }
    .wf-news {
      margin-left: -150px;
      text-align: center;
      .news-btn {
        color:#000000c4
      }
      .nav-item {
        text-align: center;
        margin-left: 80px;
      }
    }
    .col-wf-foot {
      display: flex;
      width: 200px !important;
      flex-direction: column;
      justify-content: flex-start;
      h2{
        margin-bottom: 3px;
      }
    }
  }
  .hero-wireframe {
    display: flex;
    align-items: center;
    justify-content: center;
    .vid {
      text-align: center;
      width: 100%;
      height: 150px;
      display: grid;
      border-radius: 5px;
      background-color: #8f8f8f23;
    }
    .logo-placeholder {
      .wf-nav {
        display: none !important;
      }
    }
  }
}
.wf-tog {
  position: fixed;
  z-index: 1000;
}
.log-wf{
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.desktop-view,
.tablet-view {
  padding-bottom: 0 !important;
  .content-wireframe {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.log-wf{
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.wf-account {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.account-holder {
  width: 500px;
}
  .navigation {
    display: none;
  }
  .col-wf-foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
  .wf-news {
    margin-top: -30px;
  }
  .wf-foot {
    width: 100%;
    margin: 0 -30px;
    padding: 10px 30px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
}
  .content-wireframe {
    display: flex;
    .content-item {
      width: 20%;
      margin: 10px;
    }
  
  }
  .hero-wireframe {
    // width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .vid {
      text-align: center;
      width: 100%;
      max-width: 600px;
      height: 200px;
      display: grid;
      border-radius: 5px;
      background-color: #8f8f8f23;
    }
    .logo-placeholder {
      display: flex !important;
      align-items: center;
      width: 100%;
      // justify-content: space-between;
      padding: 0;
      .wf-head {
        padding: 5px 10px;
      }
      .wf-nav {
        display: flex;
        justify-content: end;
        margin: 0 5px 10px 0;
        align-items: center;
        width: 90%;
        p {
          margin: 0 5px 10px 0;
        }
      }

      .wf-btn {
        padding: 5px 10px;
        border-radius: 50px;
        margin: 0px 0 0 10px;
      }
    }
  }
}

.wf-txt {
  background-color: #f1f1f162;
  width: 100%;
  color: #888;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid {
  height: 100px;
  display: flex;
  align-items: center;
}

.wf-btn {
  color: #bbbbbb;
  background-color: #fff;
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
}

/* Common styles for both desktop and tablet views */

.wireframe-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.main-content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;

  /* For mobile view */
  // width: 368px;
}

.desktop-view {
  width: 90%;
}

.tablet-view {
  width: 769px;
}
